
{# detail page template for jobs board web application #}

{# importing base template, loading humanize filter library #}
{% extends 'S05_JobsBoardApp/_base.html' %}
{% load humanize %}

{# override block, job details container #}
{% block content %}
<div class="mt-6 mx-auto">
    {# job details #}
    <h2 class="text-2xl font-semibold underline underline-offset-8 pb-7">{{ job.title|title }}</h2>
    <p class="text-xl pb-2">Company: {{ job.company|title }}</p>
    <p class="font-semibold pb-2">Salary: ${{ job.salary|intcomma }}</p>
    <p class="pb-8">Description:<br>{{ job.description }}</p>
    {# backlink to jobs board home page #}
    <a class="border rounded-xl border-gray-400 pt-2 px-4 hover:bg-gray-200 pb-2.5" href="{% url 'jobs-home' %}">
        Go Back
    </a>
</div>
{% endblock content %}
