
{# home page template for jobs board #}

{# using _base.html as base template #}
{% extends "S05_JobsBoardApp/_base.html" %}
{# loading humanize filter library #}
{% load humanize %}

{# override content #}
{% block content %}

{# job posting container #}
<div class="flex w-10/12 mx-auto justify-center gap-6 flex-wrap">
    {# iterating over active job postings #}
    {% for job in active_jobs %}
        {# link to detail page + job details container #}
        <a class="w-1/4 text-center" href="{% url 'jobs-detail' job.id %}">
        <div class="border rounded-xl px-8 py-10 bg-gray-50 hover:bg-gray-100 hover:cursor-pointer">
            <p class="pb-2 text-2xl">{{ job.title|title }}</p>
            <hr class="pb-2">
            <p class="pb-2 font-semibold">Company: {{ job.company|title }}</p>
            <p class="pb-2">Salary: ${{ job.salary|intcomma }}</p>
            <p class="underline underline-offset-2 text-blue-500 hover:text-blue-400">View Details</p>
        </div>
        </a>
    {% endfor %}
</div>

{% endblock content %}
